body {background-color:black;font-family:arial;color:white}
h1{color:grey;font-family:verdana}
label{
    width: 120px;
    display: inline-block;
    margin-left: 10px;
}
footer{
    background-color: white;
    color: black;
    width: 500px;
    padding: 20px;
    border-radius: 0px 0px 25px 25px;
}
.user_input{
    display:flex;
    align-items: center;
    text-align: left;
    margin-bottom: 5px;
}
/* #interest{
    display: inline-block;
} */
#result, #calculate{
    display: inline-block;
    flex: auto;
    margin-left: 55px;
}
#slider{
    display:flex;
    align-items: center;
}
.maindiv{
    background-color: white;
    color: black;
    width: 500px;
    padding: 20px;
    border-radius: 25px 25px 0px 0px;
}
.center{
    width: 400px;
    padding: 20px;
    margin-left: 25px;
}

.highlight {
    background-color: yellow;
}
